extends ../../layouts/default

block content
  .page-content.song-detail-page(
    data-song-src=song.audio
    data-song-title=song.title
    data-song-artist=song.artist
    data-song-image=song.image
  )
    .song-detail-header
      .song-cover-art
        img(src=song.image, alt=song.title)
      .song-info
        p Song
        h1.song-title= song.title
        p.song-artist= song.artist
    
    //- This button will now trigger the global player
    button.play-main-button#play-this-song-button
        i.fas.fa-play

    .song-player-controls
      button.like-button
        i.far.fa-heart
      button.options-button
        i.fas.fa-ellipsis-h

    .song-lyrics
        h2 Lyrics
        pre.lyrics-text= song.lyrics
        
    //- Audio player element
    audio#song-audio(src=song.audio) 